html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 30px;

    h1 {
        font-family: serif;
    }

    h2, h3 {
        font-family: sans-serif;
    }

    p {
        color: #993322;
        font-family: monospace;
    }
}
